:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.main-container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-weight: 300;
  letter-spacing: 1px;
}
.photo {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 5px;
  z-index: 1;
  justify-self: flex-end;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
}

.header {
  background-image: radial-gradient(
    circle,
    #00bf8f,
    #00906f,
    #06634e,
    #0a3a2f,
    #001510
  );
  padding: 80px;
}

.header-text-container {
  width: 100%;
  max-width: 574px;
  max-height: auto;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  flex: 1;
}

.header-text {
  font-size: 20px;
  line-height: 1.6;
}

.empty-spacer {
  display: none;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1024px;
  margin: 20px auto;
  padding: 0px;
}

.card {
  background-color: peachpuff;
  border: 1px solid grey;
  padding: 20px;

  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px 3px;
}

.address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 14px;
  margin-top: 0;
}

footer {
  background-image: radial-gradient(
    circle,
    #00bf8f,
    #00906f,
    #06634e,
    #0a3a2f,
    #001510
  );
  display: flex;
  justify-content: center;
  color: #fff;
}

.footer-container {
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.contact-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mail-container,
.phone-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone-icon,
.message-icon {
  width: 30px;
  height: 30px;
}
.laptop {
  width: 100%;
  max-width: 550px;
  max-height: 400px;
  height: auto;
  display: block;
  margin: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 5px;
}

/* desktop (kood üleval) --> tablet (1024px - 600px) --> mobiil (600px - 320px) */
/* Sellises järjekorras arenda. sa ei saa arendada desktop siis mobiil ja siis tablet. Samamoodi ei saa teha mobiil siis desktop ja siis tablet. */

@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .empty-spacer {
    width: 300px;
    height: 250px;
    float: left;
    display: block;
  }

  .container {
    width: auto;
    position: relative;
    margin: auto;
    left: -8%;
    top: 13%;
  }

  .photo {
    position: absolute;
    transform: translateY(-50%);
    float: left;
    top: 4%;
    max-width: 70%;
  }

  .header {
    height: 1000px;
    display: flex;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 20px;
  }

  .header-text-container {
    position: relative;
    left: 18%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .card {
    margin: 20px;
  }

  h1 {
    margin-left: 20px;
  }

  .footer-container {
    flex-direction: row;
    margin: 0;
    left: 0%;
  }

  .laptop {
    margin: 20px;
  }
}

@media only screen and (max-width: 903px) {
  .footer-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 657px) {
  .empty-spacer {
    display: none;
  }

  .header-text {
    font-size: 16px;
  }

  .header-text-container {
    background-color: transparent;
    box-shadow: none;
    left: 0%;
  }

  .header {
    padding: 0;
  }

  .photo {
    position: relative;
    transform: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    left: 0%;
    top: 0%;
  }

  .description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .empty-spacer {
    display: none;
  }

  .header-text {
    font-size: 16px;
  }

  .header-text-container {
    background-color: transparent;
    box-shadow: none;
    left: 0%;
  }

  .header {
    padding: 0;
  }

  .photo {
    position: relative;
    transform: none;
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    left: 0%;
    top: 0%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 20px;
  }

  .description {
    font-size: 14px;
  }

  .my-work {
    margin-left: 20px;
  }
  .laptop {
    margin: 0;
  }
}
